body {
    font-family: 'AcuminPro-Regular';
    height: 1500px;
    background: #F0F0F0;
}
.explord {
    font-size: 22px;
    display: inline-block;
}
.explord::before {
    margin: 0 10px;
    border-radius: 16px;
    content: "";
    width: 15px;
    height: 15px;
    background: #6294A2;
    display: inline-block;
}
.explord::after {
    margin-left: 30px;
    content: "";
    width: 1px;
    height: 19px;
    background: #A6A6A6;
    display: inline-block;
}
.travelers-blog {
    margin-left: 30px;
    display: inline-block;
}
.travelers-blog-text {
    font-size: 22px;
}
li {
    margin-left: 30px;
    font-size: 22px;
    display: inline-block;
}
.fixedheader {
    z-index: 50;
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
}
.fixedheader1 {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.content {
    padding-top: 100px;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}
.photo1 {
    height: 300px;
    margin: 0 auto;
    width: 1100px;
    position: absolute;
}
.text-and-photo {
    margin-top: 30px;
}
.text-f {
    font-size: 15px;
    opacity: 32%;
}
.text-t {
    font-size: 12px;
    opacity: 40%;
    margin-right: 12px;
}
.button {
    font-size: 12px;
}
.firstline {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.text-t {
    display: inline-block;
}
.button {
    display: inline-block;
    color: #6294A2;
    padding: 8px;
}
.textinbutton {
    background: #E5FFFF;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
    border-radius: 20px;
}
.secondlinetext {
    font-size: 32px;
}
.thirdlinetext {
    font-size: 15px;
}
.read {
    font-size: 17px;
    padding: 17px;
}
.button-2-style {
    border-radius: 24px;
    height: 48px;
    background-color: #6294A2;
    display: inline-block;
    width: 152px;
}
.secondline {
    margin: 4px 0;
}
.thirdline {
    margin: 20px 0;
    line-height: 20px;
}
.text {
    position: relative;
    margin: 50px 80px;
    color: white;
}
.article {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.article-1 {
    width: 700px;
    display: inline-block;
    background: white;
    margin: 9px;
    border-radius: 5px;
    padding:30px 44px;
}
.article-2 {
    width: 400px;
    display: inline-block
}
.photo2 {
    width: 400px;
}
.textarticle {
    font-size: 25px;
}
.textarticle::before {
    margin: 4px 4px;
    border-radius: 16px;
    content: "";
    width: 10px;
    height: 10px;
    background: #6294A2;
    display: inline-block;
}
.publications {
    display: inline-block;
}
.fulllist {
    display: inline-block;
}
.secondheaderdiv {
    display: flex;
    justify-content: space-between;
}
.fulllisttext {
    font-size: 12px;
    opacity: 40%;
}
.car {
    width: 150px;
}
.sectiontitle {
    opacity: 40%;
    font-size: 13px;
}
.first-section-text {
    display: inline-block;
    padding: 7px 0;
}
.cardiv {
    display: inline-block;
    vertical-align: top;
}
.maintitle {
    font-size: 20px;
    margin: 10px 0;
}
.maintext {
    font-size: 15px;
    width: 439px;
}
.sections {
    margin: 30px 0;
}
.sky {
    width: 150px;
}
.skydiv {
    display: inline-block;
    vertical-align: top;
}
.sectiontitle2 {
    opacity: 40%;
    font-size: 13px;
}
.maintitle2 {
    font-size: 20px;
    margin: 10px 0;
}
.maintext2 {
    font-size: 15px;
    width: 439px;
}
.second-section-text {
    display: inline-block;
    padding: 7px 0;
}
.nebula {
    width: 150px;
}
.nebuladiv {
    display: inline-block;
    vertical-align: top;
}
.sectiontitle3 {
    opacity: 40%;
    font-size: 13px;
}
.maintitle3 {
    font-size: 20px;
    margin: 10px 0;
}
.maintext3 {
    font-size: 15px;
    width: 439px;
}
.third-section-text {
    display: inline-block;
    padding: 7px 0;
}
.subscribe {
    background-color: white;
    width: 400px;
}